<p>
  Album is <%= @album.name %>
</p>
<ul>
  <%= render @album.songs %>
</ul>


<h3>Add Song</h3>
<%= form_for [@album, @song] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
<% end %>